@font-face {
    font-family: 'LLSIF Text';
    src: url('../assets/fonts/llsif.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LLSIF Title';
    src: url('../assets/fonts/llsif-title.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
