#✨ {
  opacity: 0;
  visibility: hidden;
}

#💭 {
  z-index: 99;
  position: fixed;
  top: 50%;
  left: 0;
  height: 0;
  width: 100%;
  z-index: -1;
  opacity: 1;
  visibility: visible;
  text-align: center;
  transform-origin: 50% 50%;
}

#✨,
#💭 {
  transition-duration: 0.33s;
  transition-property: all;
  transition-timing-function: ease-out;
}
