.t-page-move-enter {
  opacity: 0.01;
  transform: translateZ(0);

  .t-page-move-left {
    transform: translateX(-40vw) translateZ(0);
  }

  .t-page-move-right {
    transform: translateX(40vw) translateZ(0);
  }

  &-active {
    opacity: 1;
    transition: opacity 0.5s ease-out;

    .t-page-move-left,
    .t-page-move-right {
      transform: translateZ(0);
      transition: transform 0.5s ease-out;
    }
  }
}

.t-page-move-leave {
  opacity: 1;

  &-active {
    opacity: 0.01;
    transition: opacity 0.5s ease-in;
    transform: translateZ(0);

    .t-page-move-left,
    .t-page-move-right {
      transition: transform 0.5s ease-out;
    }

    .t-page-move-left {
      transform: translateX(-40vw) translateZ(0);
    }

    .t-page-move-right {
      transform: translateX(40vw) translateZ(0);
    }
  }
}

.t-page-move-enter,
.t-page-move-leave {
  &.t-page-move--natsuiro-egao-de-1-2-jump {
    display: none;
  }
}
