.o-wrapper {
  position: relative;
  min-height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 3em;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
}
