.c-new-member-count {
  font-size: 2.5em;
  line-height: 0.6;
  letter-spacing: -0.05em;
  padding: 0 1em;
  font-family: "LLSIF Rounded";
  text-align: center;

  text-stroke: 0.2em $colour-sif-border;
  -webkit-text-stroke: 0.04em $colour-sif-border;
  text-shadow: 0 0 0.05em $colour-sif-border;
  color: white;

  strong {
    display: inline-block;
    vertical-align: -0.05em;
    font-size: 1.3em;
    margin: 0 0.05em;
  }

  @media #{$mq-desktop} {
    white-space: nowrap;
  }
}
