.c-scouting-intro {
  background: $colour-white;
  color: $colour-black;
  text-align: center;
  padding: 1em 1.5em;
  box-shadow: inset 0 0 0 $base-border-size rgba(204, 204, 204, 0.42);
  border: $base-border-size solid $colour-white;
}
