$scouting-icon-width: 7em;
$scouting-icon-margin: 0.5em;

.c-scouting-results {
  background: $colour-white;
  text-align: center;
  padding: 1.5em 0.75em;
  box-shadow: inset 0 0 0 $base-border-size rgba(204, 204, 204, 0.42);
  border: $base-border-size solid $colour-white;
  margin: 0 auto 1em;
}

.c-scouting-results__idol {
  display: inline-block;
  margin: $scouting-icon-margin;

  img {
    vertical-align: bottom;
    width: $scouting-icon-width;
  }
}
