$colour-white: #FFFFFF;
$colour-black: #180B02;

$colour-background: #3f2359;
$colour-border-dark: #37204b;
$colour-border-light: #ddb736;
$colour-border-light-off: #42294c;

$colour-sif-border: #f479a3;
$colour-sif-smile: #e62d89;
$colour-sif-pure: #34a936;
$colour-sif-cool: #3fb4e8;
