$colour-white: #FFFFFF;
$colour-black: #180B02;

$colour-background: #3f2359;
$colour-border-dark: #37204b;
$colour-border-light: #ddb736;
$colour-border-light-off: #42294c;

$colour-sif-border: #f479a3;
