$base-font-size-small: 87.5%;
$base-font-size-medium: 100%;
$base-font-size-large: 100%;
$base-font-family: "LLSIF Text";
$header-font-family: $base-font-family;

$base-line-height: 1.1;
$base-letter-spacing: -0.005em;

$header-line-height: $base-line-height;
$header-letter-spacing: -0.02em;
$header-spacing: 0;

$font-size-h1: 3.5rem;
$font-size-h2: 3rem;
$font-size-h3: 2.5rem;
$font-size-h4: 2rem;
$font-size-h5: 1.5rem;
$font-size-h6: 1.25rem;

$font-weight-regular: 500;
